@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
  --primary-color: #DAD7CD;
  --secondary-color: #a3b18a;
  --accent1-color: #4A6670;
  --accent2-color: #8A3033;

  --heading-font: 'Sedan SC', serif;
  --paragraph-font: 'Sedan SC', serif;

  --nav-background-color: #FFFFFF;
  --nav-link-color: #000000;
  --nav-hover-link-color: #8A3033;
  --nav-hover-background-color: #DAD7CD;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.header {
  padding: 20px;
  background-color: var(--accent1-color);
}

nav {
  display: flex;
}

nav a {
  color: var(--nav-link-color);
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: var(--nav-hover-link-color);
}

p {
  padding: 25px;
}

.hero {
  text-align: center;
}

.callout {
  font-family: var(--heading-font);
  color: var(--accent2-color);
  padding: 10px; /* Add padding for better visibility */
}

.adventures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.adventures figure {
  margin: 10px;
}

footer {
  text-align: center;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
}

.sociallinks a {
  margin-left: 10px;
}
