/* External CSS: Link this CSS file to your HTML document */

/* Nav Rule */
nav {
    /* Add your nav styling here */
}

/* Nav Anchor Rule */
nav a {
    /* Add your nav anchor styling here */
}

/* Heading 1 Rule */
h1{
    /* Add your h1 styling here */
}

/* img Rule */
img {
    /* Add your img styling here */
}

/* Main Rule */
main {
    max-width: 840px;
    margin: 1rem auto; /* Center the main content */
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Aside Rule */
aside {
    /* Add your aside styling here */
}

/* Aside Image Rule */
aside img {
    width: 200px;
    height: auto;
}

/* Paragraph Rule */
p {
    padding: 0;
}

/* Footer Rule */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
